a:link{
color:#990033;
}
a:visited{
color:#006633;
}
a:active{
color:#FF6600;
}
body{
color:#333399;
background-color:#FFFFCC;
}
h1{
color:#333399;
}
h2,marquee{
color:#333399;
}
h3{
color:#333399;
}
h4{
color:#333399;
}
h5{
color:#333399;
}
h6{
color:#333399;
}
LABEL,.MSTHEME-LABEL{
color:#333399;
}
FIELDSET{
border-color:#BBBBBB;
color:#333399;
}
LEGEND{
color:#333399;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#339966;
table-border-color-dark:#006633;
border-color:#006633;
color:#333399;
}
CAPTION{
color:#333399;
}
TH{
color:#333399;
}
HR{
color:#996600;
}
TD{
border-color:#996600;
}
