a:link{
color:#990066;
}
a:visited{
color:#CC6633;
}
a:active{
color:#FFCC00;
}
body{
color:#663300;
background-color:#FFFFFF;
}
h1{
color:#663300;
}
h2,marquee{
color:#663300;
}
h3{
color:#663300;
}
h4{
color:#663300;
}
h5{
color:#663300;
}
h6{
color:#663300;
}
LABEL,.MSTHEME-LABEL{
color:#663300;
}
FIELDSET{
border-color:#990066;
color:#663300;
}
LEGEND{
color:#663300;
}
SELECT{
border-color:#BBBBBB;
color:#663300;
}
TABLE{
table-border-color-light:#CC3333;
table-border-color-dark:#990066;
border-color:#990066;
color:transparent;
}
CAPTION{
color:#663300;
}
TH{
color:#663300;
}
HR{
color:#990066;
}
TD{
border-color:#990066;
}
