.mstheme{
separator-image:url(inmhorsd.gif);
list-image-1:url(inmbul1d.gif);
list-image-2:url(inmbul2d.gif);
list-image-3:url(inmbul3d.gif);
nav-banner-image:url(inmbannd.gif);
navbutton-horiz-normal:url(inmhbudd.gif);
navbutton-horiz-pushed:url(inmhbusd.gif);
navbutton-vert-normal:url(inmvbudd.gif);
navbutton-vert-pushed:url(inmvbusd.gif);
navbutton-home-normal:url(inmhombd.gif);
navbutton-next-normal:url(inmnexbd.gif);
navbutton-prev-normal:url(inmprebd.gif);
navbutton-up-normal:url(inmupbd.gif);
}
UL{
list-style-image:url(inmbul1d.gif);
}
UL UL{
list-style-image:url(inmbul2d.gif);
}
UL UL UL{
list-style-image:url(inmbul3d.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#663300;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#663300;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#663300;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
