.mstheme{
nav-banner-image:url(inmbanna.gif);
separator-image:url(inmhorsa.gif);
list-image-1:url(inmbul1a.gif);
list-image-2:url(inmbul2a.gif);
list-image-3:url(inmbul3a.gif);
navbutton-horiz-normal:url(inmhbuda.gif);
navbutton-horiz-hovered:url(inmhbuha.gif);
navbutton-horiz-pushed:url(inmhbusa.gif);
navbutton-vert-normal:url(inmvbuda.gif);
navbutton-vert-pushed:url(inmvbusa.gif);
navbutton-vert-hovered:url(inmvbuha.gif);
navbutton-home-normal:url(inmhomda.gif);
navbutton-home-hovered:url(inmhomha.gif);
navbutton-next-normal:url(inmnexda.gif);
navbutton-next-hovered:url(inmnexha.gif);
navbutton-prev-normal:url(inmpreda.gif);
navbutton-prev-hovered:url(inmpreha.gif);
navbutton-up-normal:url(inmupda.gif);
navbutton-up-hovered:url(inmupha.gif);
}
UL{
list-style-image:url(inmbul1a.gif);
}
UL UL{
list-style-image:url(inmbul2a.gif);
}
UL UL UL{
list-style-image:url(inmbul3a.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#663300;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#663300;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#663300;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#663300;
}
