a:link{
color:#666699;
}
a:visited{
color:#339999;
}
a:active{
color:#996699;
}
body{
color:#666666;
background-color:#FFFFFF;
}
h1{
color:#666666;
}
h2,marquee{
color:#666666;
}
h3{
color:#666666;
}
h4{
color:#666666;
}
h5{
color:#666666;
}
h6{
color:#666666;
}
LABEL,.MSTHEME-LABEL{
color:#666666;
}
FIELDSET{
border-color:#BBBBBB;
color:#000000;
}
LEGEND{
color:#666666;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#CCCC99;
table-border-color-dark:#999900;
border-color:#999900;
color:transparent;
}
CAPTION{
color:#666666;
}
TH{
color:#666666;
}
HR{
color:#CC9900;
}
TD{
border-color:#CC9900;
}
