.mstheme{
separator-image:url(poehorsd.gif);
list-image-1:url(poebul1d.gif);
list-image-2:url(poebul2d.gif);
list-image-3:url(poebul3d.gif);
nav-banner-image:url(poebannd.gif);
navbutton-horiz-normal:url(poehbudd.gif);
navbutton-horiz-pushed:url(poehbusd.gif);
navbutton-vert-normal:url(poevbudd.gif);
navbutton-vert-pushed:url(poevbusd.gif);
navbutton-home-normal:url(poehombd.gif);
navbutton-next-normal:url(poenexbd.gif);
navbutton-prev-normal:url(poeprebd.gif);
navbutton-up-normal:url(poeupbd.gif);
}
UL{
list-style-image:url(poebul1d.gif);
}
UL UL{
list-style-image:url(poebul2d.gif);
}
UL UL UL{
list-style-image:url(poebul3d.gif);
}
.mstheme-bannertxt{
font-family:"Book Antiqua","Times New Roman",Times;
font-size:5;
color:#666666;
}
.mstheme-horiz-navtxt{
font-family:"book antiqua","times new roman",times;
font-size:2;
color:#666666;
}
.mstheme-vert-navtxt{
font-family:"book antiqua","times new roman",times;
font-size:2;
color:#666666;
}
.mstheme-navtxthome{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:#666666;
}
.mstheme-navtxtup{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:#666666;
}
.mstheme-navtxtprev{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:#666666;
}
.mstheme-navtxtnext{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:#666666;
}
