.mstheme{
nav-banner-image:url(poebanna.gif);
separator-image:url(poehorsa.gif);
list-image-1:url(poebul1a.gif);
list-image-2:url(poebul2a.gif);
list-image-3:url(poebul3a.gif);
navbutton-horiz-normal:url(poehbuda.gif);
navbutton-horiz-hovered:url(poehbuha.gif);
navbutton-horiz-pushed:url(poehbusa.gif);
navbutton-vert-normal:url(poevbuda.gif);
navbutton-vert-pushed:url(poevbusa.gif);
navbutton-vert-hovered:url(poevbuha.gif);
navbutton-home-normal:url(poehomda.gif);
navbutton-home-hovered:url(poehomha.gif);
navbutton-next-normal:url(poenexda.gif);
navbutton-next-hovered:url(poenexha.gif);
navbutton-prev-normal:url(poepreda.gif);
navbutton-prev-hovered:url(poepreha.gif);
navbutton-up-normal:url(poeupda.gif);
navbutton-up-hovered:url(poeupha.gif);
}
UL{
list-style-image:url(poebul1a.gif);
}
UL UL{
list-style-image:url(poebul2a.gif);
}
UL UL UL{
list-style-image:url(poebul3a.gif);
}
.mstheme-bannertxt{
font-family:"Book Antiqua","Times New Roman",Times;
font-size:5;
color:rgb(102,51,102);
}
.mstheme-horiz-navtxt{
font-family:"book antiqua","times new roman",times;
font-size:2;
color:rgb(204,204,0);
}
.mstheme-vert-navtxt{
font-family:"book antiqua","times new roman",times;
font-size:2;
color:rgb(204,204,0);
}
.mstheme-navtxthome{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:rgb(102,0,51);
}
.mstheme-navtxtup{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:rgb(102,0,51);
}
.mstheme-navtxtprev{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:rgb(102,0,51);
}
.mstheme-navtxtnext{
font-family:"book antiqua","times new roman",times;
font-size:1;
color:rgb(102,0,51);
}
