3.0.0.507
1004
1000,index.htm,0,Texans,0,1136767092,1
vti_globalpage:BW|true
1001,sid:1001,0,texans,0,1136767195,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1003,file:///C:/Documents and Settings/Administrator/My Documents/My Web Sites/HomeSite/sport/index.htm,1,Sport,1001,1142045395,0