vti_encoding:SR|utf8-nl
vti_author:SR|FREDO\\Fred khoury
vti_modifiedby:SR|FREDO\\Fred khoury
vti_timelastmodified:TR|20 Dec 2006 10:26:53 -0000
vti_timecreated:TR|20 Dec 2006 10:26:53 -0000
vti_cacheddtm:TX|20 Dec 2006 10:26:53 -0000
vti_filesize:IR|1257
vti_cachedlinkinfo:VX|S|corbanr.gif S|corrule.gif S|corbul1.gif S|corbul2.gif S|corbul3.gif S|corhsel.gif S|corhbtn.gif S|corvsel.gif S|corvbtn.gif S|corhom.gif S|corup.gif S|corbck.gif S|cornxt.gif S|corbul1.gif S|corbul2.gif S|corbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/corporat/corbanr.gif FSUS|_themes/corporat/corrule.gif FSUS|_themes/corporat/corbul1.gif FSUS|_themes/corporat/corbul2.gif FSUS|_themes/corporat/corbul3.gif FSUS|_themes/corporat/corhsel.gif FSUS|_themes/corporat/corhbtn.gif FSUS|_themes/corporat/corvsel.gif FSUS|_themes/corporat/corvbtn.gif FSUS|_themes/corporat/corhom.gif FSUS|_themes/corporat/corup.gif FSUS|_themes/corporat/corbck.gif FSUS|_themes/corporat/cornxt.gif FSUS|_themes/corporat/corbul1.gif FSUS|_themes/corporat/corbul2.gif FSUS|_themes/corporat/corbul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
