vti_encoding:SR|utf8-nl
vti_author:SR|FREDO\\Fred khoury
vti_modifiedby:SR|FREDO\\Fred khoury
vti_timelastmodified:TR|20 Dec 2006 10:26:53 -0000
vti_timecreated:TR|20 Dec 2006 10:26:53 -0000
vti_cacheddtm:TX|20 Dec 2006 10:26:53 -0000
vti_filesize:IR|27389
vti_cachedlinkinfo:VX|S|corglobl.gif S|corbkgnd.gif S|corbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/corporat/corglobl.gif FSUS|_themes/corporat/corbkgnd.gif FSUS|_themes/corporat/corbul2.gif FSUS|_themes/corporat/toolgrad.gif FSUS|_themes/corporat/dot.gif FSUS|_themes/corporat/toolgrad.gif FSUS|_themes/corporat/theme.css FSUS|_themes/corporat/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/corporat/theme.css
