vti_encoding:SR|utf8-nl
vti_author:SR|FREDO\\Administrator
vti_modifiedby:SR|FREDO\\Administrator
vti_timelastmodified:TR|22 Jul 2006 22:59:04 -0000
vti_timecreated:TR|22 Jul 2006 22:59:04 -0000
vti_cacheddtm:TX|22 Jul 2006 22:59:04 -0000
vti_filesize:IR|1365
vti_cachedlinkinfo:VX|S|indbannd.gif S|indhorsd.gif S|indbul1d.gif S|indbul2d.gif S|indbul3d.gif S|indhbusd.gif S|indhbudd.gif S|indvbusd.gif S|indvbudd.gif S|indhombd.gif S|indupbd.gif S|indprebd.gif S|indnexbd.gif S|indbul1d.gif S|indbul2d.gif S|indbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indbannd.gif FSUS|_themes/indust/indhorsd.gif FSUS|_themes/indust/indbul1d.gif FSUS|_themes/indust/indbul2d.gif FSUS|_themes/indust/indbul3d.gif FSUS|_themes/indust/indhbusd.gif FSUS|_themes/indust/indhbudd.gif FSUS|_themes/indust/indvbusd.gif FSUS|_themes/indust/indvbudd.gif FSUS|_themes/indust/indhombd.gif FSUS|_themes/indust/indupbd.gif FSUS|_themes/indust/indprebd.gif FSUS|_themes/indust/indnexbd.gif FSUS|_themes/indust/indbul1d.gif FSUS|_themes/indust/indbul2d.gif FSUS|_themes/indust/indbul3d.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|23 Jul 2005 05:40:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|22 Jul 2006 22:59:04 -0000
