vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY-W5ST28Y9\\Administrator
vti_modifiedby:SR|KHOURY-W5ST28Y9\\Administrator
vti_timelastmodified:TR|11 Jul 2005 23:10:43 -0000
vti_timecreated:TR|11 Jul 2005 23:10:43 -0000
vti_cacheddtm:TX|11 Jul 2005 23:10:43 -0000
vti_filesize:IR|29456
vti_cachedlinkinfo:VX|S|acyprbnr.gif S|acyprrul.gif S|acyprbu1.gif S|acyprbu2.gif S|acyprbu3.gif S|acyprhbs.gif S|acyprhb.gif S|acyprhbh.gif S|acyprvbs.gif S|acyprvb.gif S|acyprvbh.gif S|cyprhoma.gif S|cyprhomh.gif S|cyprupa.gif S|cypruph.gif S|cyprprva.gif S|cyprprvh.gif S|cyprnxta.gif S|cyprnxth.gif S|acyprbu1.gif S|acyprbu2.gif S|acyprbu3.gif S|cyprglbu.gif S|cyprbk.jpg S|cyprbu2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|cypr1011.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cypress/acyprbnr.gif FSUS|_themes/cypress/acyprrul.gif FSUS|_themes/cypress/acyprbu1.gif FSUS|_themes/cypress/acyprbu2.gif FSUS|_themes/cypress/acyprbu3.gif FSUS|_themes/cypress/acyprhbs.gif FSUS|_themes/cypress/acyprhb.gif FSUS|_themes/cypress/acyprhbh.gif FSUS|_themes/cypress/acyprvbs.gif FSUS|_themes/cypress/acyprvb.gif FSUS|_themes/cypress/acyprvbh.gif FSUS|_themes/cypress/cyprhoma.gif FSUS|_themes/cypress/cyprhomh.gif FSUS|_themes/cypress/cyprupa.gif FSUS|_themes/cypress/cypruph.gif FSUS|_themes/cypress/cyprprva.gif FSUS|_themes/cypress/cyprprvh.gif FSUS|_themes/cypress/cyprnxta.gif FSUS|_themes/cypress/cyprnxth.gif FSUS|_themes/cypress/acyprbu1.gif FSUS|_themes/cypress/acyprbu2.gif FSUS|_themes/cypress/acyprbu3.gif FSUS|_themes/cypress/cyprglbu.gif FSUS|_themes/cypress/cyprbk.jpg FSUS|_themes/cypress/cyprbu2.gif FSUS|_themes/cypress/toolgrad.gif FSUS|_themes/cypress/dot.gif FSUS|_themes/cypress/toolgrad.gif FSUS|_themes/cypress/cypr1011.css FSUS|_themes/cypress/blank.gif
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|_themes/cypress/cypr1011.css
vti_syncofs_ftp-www.earthlink.net\:21:TW|17 Jul 2004 21:13:00 -0000
vti_syncwith_ftp-www.earthlink.net\:21:TX|11 Jul 2005 23:10:43 -0000
vti_syncwith_www.fkhoury.us\:21/fred:TX|11 Jul 2005 23:10:43 -0000
vti_syncofs_www.fkhoury.us\:21/fred:TW|03 Nov 2004 08:53:00 -0000
vti_syncofs_fkhoury.us\:21/webmin/camp:TW|30 Dec 2005 18:25:00 -0000
vti_syncwith_fkhoury.us\:21/webmin/camp:TX|11 Jul 2005 23:10:43 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/camp:TW|06 Jan 2006 02:07:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/camp:TX|11 Jul 2005 23:10:43 -0000
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:22:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|11 Jul 2005 23:10:43 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|11 Jul 2005 23:10:43 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|11 Jul 2005 23:10:43 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|11 Jul 2005 23:10:43 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 01:56:00 -0000
