.mstheme{
separator-image:url(btzhsepd.gif);
list-image-1:url(btzbul1d.gif);
list-image-2:url(btzbul2d.gif);
list-image-3:url(btzbul3d.gif);
nav-banner-image:url(btzbannd.gif);
navbutton-horiz-normal:url(btznvhnd.gif);
navbutton-horiz-pushed:url(btznvhsd.gif);
navbutton-vert-normal:url(btznvvnd.gif);
navbutton-vert-pushed:url(btznvvsd.gif);
navbutton-home-normal:url(btzhomed.gif);
navbutton-next-normal:url(btznextd.gif);
navbutton-prev-normal:url(btzprevd.gif);
navbutton-up-normal:url(btzupbtd.gif);
}
UL{
list-style-image:url(btzbul1d.gif);
}
UL UL{
list-style-image:url(btzbul2d.gif);
}
UL UL UL{
list-style-image:url(btzbul3d.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:5;
color:#FFCC00;
}
.mstheme-horiz-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#003399;
}
.mstheme-vert-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#003399;
}
.mstheme-navtxthome{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#0033CC;
}
.mstheme-navtxtup{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#0033CC;
}
.mstheme-navtxtprev{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#0033CC;
}
.mstheme-navtxtnext{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#0033CC;
}
