a:link{
color:#DABC6E;
}
a:visited{
color:#A78E49;
}
a:active{
color:#F1E6C7;
}
body{
color:#FFFFFF;
background-color:#003916;
}
h1{
color:#FFFFFF;
}
h2, marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
label, .MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#000000;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#002C2C;
table-border-color-dark:#000000;
border-color:#FFFFFF;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#000000;
}
TD{
border-color:#FFFFFF;
}
