a:link{
color:#FE943B;
}
a:visited{
color:#2FACA5;
}
a:active{
color:#FEBC85;
}
body{
color:#FAF1F1;
background-color:#660000;
}
h1{
color:#FAF1F1;
}
h2, marquee{
color:#FAF1F1;
}
h3{
color:#FAF1F1;
}
h4{
color:#FAF1F1;
}
h5{
color:#FAF1F1;
}
h6{
color:#FAF1F1;
}
label, .MSTHEME-LABEL{
color:#FAF1F1;
}
FIELDSET{
border-color:#BBBBBB;
color:#FFFFFF;
}
LEGEND{
color:#FAF1F1;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#B80004;
table-border-color-dark:#460002;
border-color:#460002;
color:#FAF1F1;
}
CAPTION{
color:#FAF1F1;
}
TH{
color:#FAF1F1;
}
HR{
color:#3F0003;
}
TD{
border-color:#3F0003;
}
