a:link{
color:#F0A96E;
}
a:visited{
color:#86A985;
}
a:active{
color:#F9D9BF;
}
body{
color:#F1E7E8;
background-color:#660000;
}
h1{
color:#F1E7E8;
}
h2,marquee{
color:#F1E7E8;
}
h3{
color:#F1E7E8;
}
h4{
color:#F1E7E8;
}
h5{
color:#F1E7E8;
}
h6{
color:#F1E7E8;
}
LABEL,.MSTHEME-LABEL{
color:#F1E7E8;
}
FIELDSET{
border-color:#CC4043;
color:#FFFFFF;
}
LEGEND{
color:#F1E7E8;
}
SELECT{
border-color:#CC4043;
color:#000000;
}
TABLE{
table-border-color-light:#910D0F;
table-border-color-dark:#400003;
border-color:#400003;
color:#F1E7E8;
}
CAPTION{
color:#F1E7E8;
}
TH{
color:#F1E7E8;
}
HR{
color:#400003;
}
TD{
border-color:#400003;
}
