vti_encoding:SR|utf8-nl
vti_author:SR|FREDO\\Fred khoury
vti_modifiedby:SR|FREDO\\Fred khoury
vti_timelastmodified:TR|20 Dec 2006 10:33:21 -0000
vti_timecreated:TR|20 Dec 2006 10:33:21 -0000
vti_cacheddtm:TX|20 Dec 2006 10:33:21 -0000
vti_filesize:IR|29513
vti_cachedlinkinfo:VX|S|top_bar_button_bluecalm.gif S|background_bluecalm.gif S|bull2_bluecalm.gif S|toolgrad_bluecalm.gif S|theme.css S|dot_bluecalm.gif S|toolgrad_bluecalm.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/bluecalm/top_bar_button_bluecalm.gif FSUS|_themes/bluecalm/background_bluecalm.gif FSUS|_themes/bluecalm/bull2_bluecalm.gif FSUS|_themes/bluecalm/toolgrad_bluecalm.gif FSUS|_themes/bluecalm/theme.css FSUS|_themes/bluecalm/dot_bluecalm.gif FSUS|_themes/bluecalm/toolgrad_bluecalm.gif FSUS|_themes/bluecalm/partgrad.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/bluecalm/theme.css
