vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|14 Mar 2006 00:13:31 -0000
vti_timecreated:TR|14 Mar 2006 00:13:31 -0000
vti_cacheddtm:TX|14 Mar 2006 00:13:31 -0000
vti_filesize:IR|1338
vti_cachedlinkinfo:VX|S|laybanr.gif S|layrule.gif S|laybul1.gif S|laybul2.gif S|laybul3.gif S|layhsel.gif S|layhbtn.gif S|layvsel.gif S|layvbtn.gif S|layhom.gif S|layup.gif S|laybck.gif S|laynxt.gif S|laybul1.gif S|laybul2.gif S|laybul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/layers/laybanr.gif FSUS|_themes/layers/layrule.gif FSUS|_themes/layers/laybul1.gif FSUS|_themes/layers/laybul2.gif FSUS|_themes/layers/laybul3.gif FSUS|_themes/layers/layhsel.gif FSUS|_themes/layers/layhbtn.gif FSUS|_themes/layers/layvsel.gif FSUS|_themes/layers/layvbtn.gif FSUS|_themes/layers/layhom.gif FSUS|_themes/layers/layup.gif FSUS|_themes/layers/laybck.gif FSUS|_themes/layers/laynxt.gif FSUS|_themes/layers/laybul1.gif FSUS|_themes/layers/laybul2.gif FSUS|_themes/layers/laybul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:13:31 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|14 Mar 2006 00:44:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:13:31 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|14 Mar 2006 00:13:31 -0000
