a:link{
color:#336633;
}
a:visited{
color:#660000;
}
a:active{
color:#996600;
}
body{
color:#000000;
background-color:#CCCCCC;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#000000;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#CCCCCC;
color:#000000;
}
TABLE{
table-border-color-light:#669966;
table-border-color-dark:#336633;
border-color:#336633;
color:transparent;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#000000;
}
TD{
border-color:#000000;
}
