.mstheme{
nav-banner-image:url(acyprbnr.gif);
separator-image:url(acyprrul.gif);
list-image-1:url(acyprbu1.gif);
list-image-2:url(acyprbu2.gif);
list-image-3:url(acyprbu3.gif);
navbutton-horiz-pushed:url(acyprhbs.gif);
navbutton-horiz-normal:url(acyprhb.gif);
navbutton-horiz-hovered:url(acyprhbh.gif);
navbutton-vert-pushed:url(acyprvbs.gif);
navbutton-vert-normal:url(acyprvb.gif);
navbutton-vert-hovered:url(acyprvbh.gif);
navbutton-home-normal:url(cyprhoma.gif);
navbutton-home-hovered:url(cyprhomh.gif);
navbutton-up-normal:url(cyprupa.gif);
navbutton-up-hovered:url(cypruph.gif);
navbutton-prev-normal:url(cyprprva.gif);
navbutton-prev-hovered:url(cyprprvh.gif);
navbutton-next-normal:url(cyprnxta.gif);
navbutton-next-hovered:url(cyprnxth.gif);
}
UL{
list-style-image:url(acyprbu1.gif);
}
UL UL{
list-style-image:url(acyprbu2.gif);
}
UL UL UL{
list-style-image:url(acyprbu3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
