vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|15 Mar 2006 00:36:19 -0000
vti_timecreated:TR|15 Mar 2006 00:36:19 -0000
vti_cacheddtm:TX|15 Mar 2006 00:36:19 -0000
vti_filesize:IR|1822
vti_cachedlinkinfo:VX|S|banner_iris.gif S|rule_iris.gif S|bull1_iris.gif S|bull2_iris.gif S|bull3_iris.gif S|nav_hor_iris.gif S|nav_hor_over_iris.gif S|nav_hor_down_iris.gif S|nav_vert_iris.gif S|nav_vert_over_iris.gif S|nav_vert_down_iris.gif S|nav_home_iris.gif S|nav_home_over_iris.gif S|nav_up_iris.gif S|nav_up_over_iris.gif S|nav_prev_iris.gif S|nav_prev_over_iris.gif S|nav_next_iris.gif S|nav_next_over_iris.gif S|nav_next_down_iris.gif S|bull1_iris.gif S|bull2_iris.gif S|bull3_iris.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/iris/banner_iris.gif FSUS|_themes/iris/rule_iris.gif FSUS|_themes/iris/bull1_iris.gif FSUS|_themes/iris/bull2_iris.gif FSUS|_themes/iris/bull3_iris.gif FSUS|_themes/iris/nav_hor_iris.gif FSUS|_themes/iris/nav_hor_over_iris.gif FSUS|_themes/iris/nav_hor_down_iris.gif FSUS|_themes/iris/nav_vert_iris.gif FSUS|_themes/iris/nav_vert_over_iris.gif FSUS|_themes/iris/nav_vert_down_iris.gif FSUS|_themes/iris/nav_home_iris.gif FSUS|_themes/iris/nav_home_over_iris.gif FSUS|_themes/iris/nav_up_iris.gif FSUS|_themes/iris/nav_up_over_iris.gif FSUS|_themes/iris/nav_prev_iris.gif FSUS|_themes/iris/nav_prev_over_iris.gif FSUS|_themes/iris/nav_next_iris.gif FSUS|_themes/iris/nav_next_over_iris.gif FSUS|_themes/iris/nav_next_down_iris.gif FSUS|_themes/iris/bull1_iris.gif FSUS|_themes/iris/bull2_iris.gif FSUS|_themes/iris/bull3_iris.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_fkhoury.us\:21/web/mau:TX|15 Mar 2006 00:36:19 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|15 Mar 2006 00:51:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|15 Mar 2006 00:36:19 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|15 Mar 2006 00:36:19 -0000
