vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY-W5ST28Y9\\Administrator
vti_modifiedby:SR|KHOURY-W5ST28Y9\\Administrator
vti_timelastmodified:TR|30 Jul 2005 13:53:34 -0000
vti_timecreated:TR|30 Jul 2005 13:53:34 -0000
vti_cacheddtm:TX|30 Jul 2005 13:53:34 -0000
vti_filesize:IR|701
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|
vti_syncofs_ftp-www.earthlink.net\:21:TW|31 Jul 2005 02:16:00 -0000
vti_syncwith_ftp-www.earthlink.net\:21:TX|30 Jul 2005 13:53:34 -0000
vti_syncwith_www.fkhoury.us\:21/fred:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_www.fkhoury.us\:21/fred:TW|03 Nov 2004 08:56:00 -0000
vti_syncwith_fkhoury.us\:21/webmin/newman:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_fkhoury.us\:21/webmin/newman:TW|06 Jan 2006 01:10:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/newman:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/newman:TW|06 Jan 2006 02:27:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:25:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|30 Jul 2005 13:53:34 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 02:06:00 -0000
vti_syncwith_fkhoury.us\:21/web/newman:TX|30 Jul 2005 13:53:34 -0000
vti_syncofs_fkhoury.us\:21/web/newman:TW|11 Mar 2006 02:55:00 -0000
