.mstheme{
nav-banner-image:url(mshbanna.gif);
separator-image:url(mshhorsa.gif);
list-image-1:url(mshbul1a.gif);
list-image-2:url(mshbul2a.gif);
list-image-3:url(mshbul3a.gif);
navbutton-horiz-pushed:url(mshhbusa.gif);
navbutton-horiz-normal:url(mshhbuda.gif);
navbutton-horiz-hovered:url(mshhbuha.gif);
navbutton-vert-pushed:url(mshvbusa.gif);
navbutton-vert-normal:url(mshvbuda.gif);
navbutton-vert-hovered:url(mshvbuha.gif);
navbutton-home-normal:url(mshhomda.gif);
navbutton-home-hovered:url(mshhomha.gif);
navbutton-up-normal:url(mshupda.gif);
navbutton-up-hovered:url(mshupha.gif);
navbutton-prev-normal:url(mshpreda.gif);
navbutton-prev-hovered:url(mshpreha.gif);
navbutton-next-normal:url(mshnexda.gif);
navbutton-next-hovered:url(mshnexha.gif);
}
UL{
list-style-image:url(Mshbul1a.gif);
}
UL UL{
list-style-image:url(Mshbul2a.gif);
}
UL UL UL{
list-style-image:url(Mshbul3a.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
