.mstheme{
nav-banner-image:url(mshbannd.gif);
separator-image:url(mshhorsd.gif);
list-image-1:url(mshbul1d.gif);
list-image-2:url(mshbul2d.gif);
list-image-3:url(mshbul3d.gif);
navbutton-horiz-pushed:url(mshhbusd.gif);
navbutton-horiz-normal:url(mshhbudd.gif);
navbutton-vert-pushed:url(mshvbusd.gif);
navbutton-vert-normal:url(mshvbudd.gif);
navbutton-home-normal:url(mshhombd.gif);
navbutton-up-normal:url(mshupbd.gif);
navbutton-prev-normal:url(mshprebd.gif);
navbutton-next-normal:url(mshnexbd.gif);
}
UL{
list-style-image:url(mshbul1d.gif);
}
UL UL{
list-style-image:url(mshbul2d.gif);
}
UL UL UL{
list-style-image:url(mshbul3d.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
