a:link{
color:#FFCA42;
}
a:visited{
color:#7CBC00;
}
a:active{
color:#FFEF82;
}
body{
color:#FFFFFF;
background-color:#003916;
}
h1{
color:#DDFFB3;
}
h2, marquee{
color:#DDFFB3;
}
h3{
color:#DDFFB3;
}
h4{
color:#DDFFB3;
}
h5{
color:#DDFFB3;
}
h6{
color:#DDFFB3;
}
label, .MSTHEME-LABEL{
color:#DDFFB3;
}
FIELDSET{
border-color:#000000;
color:#FFFFFF;
}
LEGEND{
color:#DDFFB3;
}
SELECT{
border-color:#000000;
color:#000000;
}
TABLE{
table-border-color-light:#237A45;
table-border-color-dark:#000000;
border-color:#FFFFFF;
color:#DDFFB3;
}
CAPTION{
color:#DDFFB3;
}
TH{
color:#DDFFB3;
}
HR{
color:#000000;
}
TD{
border-color:#FFFFFF;
}
