.mstheme{
nav-banner-image:url(loobanna.gif);
separator-image:url(loohorsa.gif);
list-image-1:url(loobul1a.gif);
list-image-2:url(loobul2a.gif);
list-image-3:url(loobul3a.gif);
navbutton-horiz-normal:url(loohbuda.gif);
navbutton-horiz-hovered:url(loohbuha.gif);
navbutton-horiz-pushed:url(loohbusa.gif);
navbutton-vert-normal:url(loovbuda.gif);
navbutton-vert-pushed:url(loovbusa.gif);
navbutton-vert-hovered:url(loovbuha.gif);
navbutton-home-normal:url(loohomda.gif);
navbutton-home-hovered:url(loohomha.gif);
navbutton-next-normal:url(loonexda.gif);
navbutton-next-hovered:url(loonexha.gif);
navbutton-prev-normal:url(loopreda.gif);
navbutton-prev-hovered:url(loopreha.gif);
navbutton-up-normal:url(looupda.gif);
navbutton-up-hovered:url(looupha.gif);
}
UL{
list-style-image:url(loobul1a.gif);
}
UL UL{
list-style-image:url(loobul2a.gif);
}
UL UL UL{
list-style-image:url(loobul3a.gif);
}
.mstheme-bannertxt{
font-family:"Comic Sans MS",Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:"comic sans ms",arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:"comic sans ms",arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:"comic sans ms",arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:"comic sans ms",arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:"comic sans ms",arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:"comic sans ms",arial,helvetica;
font-size:1;
color:#000000;
}
