a:link{
color:#FF0000;
}
a:visited{
color:#FFCC00;
}
a:active{
color:#00CC00;
}
body{
color:#FFFFFF;
background-color:#000000;
}
h1{
color:#FFFFFF;
}
h2,marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#FFCC00;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#999999;
color:#000000;
}
TABLE{
table-border-color-light:#FFCC00;
table-border-color-dark:#CC9933;
border-color:#CC9933;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#FFCC00;
}
TD{
border-color:#FFCC00;
}
