.mstheme{
nav-banner-image:url(awaybnr.gif);
separator-image:url(awayrule.gif);
list-image-1:url(awaybul1.gif);
list-image-2:url(awaybul2.gif);
list-image-3:url(awaybul3.gif);
navbutton-horiz-pushed:url(wayhbp.gif);
navbutton-horiz-normal:url(wayhbs.gif);
navbutton-horiz-hovered:url(wayhbh.gif);
navbutton-vert-pushed:url(wayvbp.gif);
navbutton-vert-normal:url(wayvbs.gif);
navbutton-vert-hovered:url(wayvbh.gif);
navbutton-home-normal:url(wayhomes.gif);
navbutton-home-hovered:url(wayhomeh.gif);
navbutton-up-normal:url(wayups.gif);
navbutton-up-hovered:url(wayuph.gif);
navbutton-prev-normal:url(wayprevs.gif);
navbutton-prev-hovered:url(wayprevh.gif);
navbutton-next-normal:url(waynexts.gif);
navbutton-next-hovered:url(waynexth.gif);
}
UL{
list-style-image:url(awaybul1.gif);
}
UL UL{
list-style-image:url(awaybul2.gif);
}
UL UL UL{
list-style-image:url(awaybul3.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
