.mstheme{
nav-banner-image:url(waybnr.gif);
separator-image:url(wayrule.gif);
list-image-1:url(waybull1.gif);
list-image-2:url(waybull2.gif);
list-image-3:url(waybull3.gif);
navbutton-horiz-pushed:url(wayphbp.gif);
navbutton-horiz-normal:url(wayphb.gif);
navbutton-vert-pushed:url(waypvbp.gif);
navbutton-vert-normal:url(waypvb.gif);
navbutton-home-normal:url(wayhome.gif);
navbutton-up-normal:url(wayup.gif);
navbutton-prev-normal:url(wayprev.gif);
navbutton-next-normal:url(waynext.gif);
}
UL{
list-style-image:url(waybull1.gif);
}
UL UL{
list-style-image:url(waybull2.gif);
}
UL UL UL{
list-style-image:url(waybull3.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
