a:link{
color:#9900FF;
}
a:visited{
color:#993399;
}
a:active{
color:#CC66FF;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#0A5F7A;
}
h2, marquee{
color:#0A5F7A;
}
h3{
color:#0A5F7A;
}
h4{
color:#0A5F7A;
}
h5{
color:#0A5F7A;
}
h6{
color:#0A5F7A;
}
label, .MSTHEME-LABEL{
color:#0A5F7A;
}
FIELDSET{
border-color:#B7A5C1;
color:#0A5F7A;
}
LEGEND{
color:#0A5F7A;
}
SELECT{
border-color:#E7E2F0;
color:#000000;
}
TABLE{
table-border-color-light:#C6BCDB;
table-border-color-dark:#937BA1;
border-color:#333333;
color:#0A5F7A;
}
CAPTION{
color:#0A5F7A;
}
TH{
color:#0A5F7A;
}
HR{
color:#B7A5C1;
}
TD{
border-color:#333333;
}
