a:link{
color:#660000;
}
a:visited{
color:#999900;
}
a:active{
color:#006600;
}
body{
color:#663300;
background-color:#FFFFFF;
}
h1{
color:#663300;
}
h2,marquee{
color:#663300;
}
h3{
color:#663300;
}
h4{
color:#663300;
}
h5{
color:#663300;
}
h6{
color:#663300;
}
LABEL,.MSTHEME-LABEL{
color:#663300;
}
FIELDSET{
border-color:#999900;
color:#663300;
}
LEGEND{
color:#663300;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#996600;
table-border-color-dark:#660000;
border-color:#660000;
color:#663300;
}
CAPTION{
color:#663300;
}
TH{
color:#663300;
}
HR{
color:#999900;
}
TD{
border-color:#999900;
}
