.mstheme{
separator-image:url(romhorsd.gif);
list-image-1:url(rombul1d.gif);
list-image-2:url(rombul2d.gif);
list-image-3:url(rombul3d.gif);
nav-banner-image:url(rombannd.gif);
navbutton-horiz-normal:url(romhbudd.gif);
navbutton-horiz-pushed:url(romhbusd.gif);
navbutton-vert-normal:url(romhbudd.gif);
navbutton-vert-pushed:url(romvbusd.gif);
navbutton-home-normal:url(romhombd.gif);
navbutton-next-normal:url(romnexbd.gif);
navbutton-prev-normal:url(romprebd.gif);
navbutton-up-normal:url(romupbd.gif);
}
UL{
list-style-image:url(rombul1d.gif);
}
UL UL{
list-style-image:url(rombul2d.gif);
}
UL UL UL{
list-style-image:url(rombul3d.gif);
}
.mstheme-bannertxt{
font-family:"Book Antiqua","Times New Roman",Times;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:"times new roman",times;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:"times new roman",times;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:"times new roman",times;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:"times new roman",times;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:"times new roman",times;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:"times new roman",times;
font-size:1;
color:#000000;
}
