a:link{
color:#3072FF;
}
a:visited{
color:#4E1D81;
}
a:active{
color:#E2FFFF;
}
body{
color:#375F3C;
background-color:#C4C6DE;
}
h1{
color:#375F3C;
}
h2, marquee{
color:#375F3C;
}
h3{
color:#375F3C;
}
h4{
color:#375F3C;
}
h5{
color:#375F3C;
}
h6{
color:#375F3C;
}
label, .MSTHEME-LABEL{
color:#375F3C;
}
FIELDSET{
border-color:#EEEEF1;
color:#375F3C;
}
LEGEND{
color:#375F3C;
}
SELECT{
border-color:#EEEEF1;
color:#000000;
}
TABLE{
table-border-color-light:#F4F5FF;
table-border-color-dark:#9293A8;
border-color:#333333;
color:#375F3C;
}
CAPTION{
color:#375F3C;
}
TH{
color:#375F3C;
}
HR{
color:#ECEDF4;
}
TD{
border-color:#333333;
}
