a:link{
color:#3B00CA;
}
a:visited{
color:#093384;
}
a:active{
color:#8551FF;
}
body{
color:#282A55;
background-color:#CFCFD7;
}
h1{
color:#282A55;
}
h2, marquee{
color:#282A55;
}
h3{
color:#282A55;
}
h4{
color:#282A55;
}
h5{
color:#282A55;
}
h6{
color:#282A55;
}
label, .MSTHEME-LABEL{
color:#282A55;
}
FIELDSET{
border-color:#EEEEF1;
color:#282A55;
}
LEGEND{
color:#282A55;
}
SELECT{
border-color:#EEEEF1;
color:#000000;
}
TABLE{
table-border-color-light:#EEEEF1;
table-border-color-dark:#A8A8A8;
border-color:#333333;
color:#282A55;
}
CAPTION{
color:#282A55;
}
TH{
color:#282A55;
}
HR{
color:#FFFFFF;
}
TD{
border-color:#333333;
}
