.mstheme{
nav-banner-image:url(banner_sky.gif);
separator-image:url(rule_sky.gif);
list-image-1:url(bull1_sky.gif);
list-image-2:url(bull2_sky.gif);
list-image-3:url(bull3_sky.gif);
navbutton-horiz-normal:url(nav_hor_sky.gif);
navbutton-horiz-hovered:url(nav_hor_over_sky.gif);
navbutton-horiz-pushed:url(nav_hor_down_sky.gif);
navbutton-vert-normal:url(nav_vert_sky.gif);
navbutton-vert-hovered:url(nav_vert_over_sky.gif);
navbutton-vert-pushed:url(nav_vert_down_sky.gif);
navbutton-home-normal:url(nav_home_sky.gif);
navbutton-home-hovered:url(nav_home_over_sky.gif);
navbutton-up-normal:url(nav_up_sky.gif);
navbutton-up-hovered:url(nav_up_over_sky.gif);
navbutton-prev-normal:url(nav_prev_sky.gif);
navbutton-prev-hovered:url(nav_prev_over_sky.gif);
navbutton-next-normal:url(nav_next_sky.gif);
navbutton-next-hovered:url(nav_next_over_sky.gif);
navbutton-next-pushed:url(nav_next_down_sky.gif);
}
UL{
list-style-image:url(bull1_sky.gif);
}
UL UL{
list-style-image:url(bull2_sky.gif);
}
UL UL UL{
list-style-image:url(bull3_sky.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:5;
color:#282A55;
}
.mstheme-horiz-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#282A55;
}
.mstheme-vert-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#282A55;
}
.mstheme-navtxthome{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#282A55;
}
.mstheme-navtxtup{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#282A55;
}
.mstheme-navtxtprev{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#282A55;
}
.mstheme-navtxtnext{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#282A55;
}
