vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|09 Jan 2006 01:44:12 -0000
vti_timecreated:TR|09 Jan 2006 01:44:12 -0000
vti_cacheddtm:TX|09 Jan 2006 01:44:12 -0000
vti_filesize:IR|1320
vti_cachedlinkinfo:VX|S|narule.gif S|nabull1.gif S|nabull2.gif S|nabull3.gif S|nabnr.gif S|naphb.gif S|naphbp.gif S|napvb.gif S|napvbp.gif S|nahome.gif S|nanext.gif S|naprev.gif S|naup.gif S|nabull1.gif S|nabull2.gif S|nabull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/nature/narule.gif FSUS|_themes/nature/nabull1.gif FSUS|_themes/nature/nabull2.gif FSUS|_themes/nature/nabull3.gif FSUS|_themes/nature/nabnr.gif FSUS|_themes/nature/naphb.gif FSUS|_themes/nature/naphbp.gif FSUS|_themes/nature/napvb.gif FSUS|_themes/nature/napvbp.gif FSUS|_themes/nature/nahome.gif FSUS|_themes/nature/nanext.gif FSUS|_themes/nature/naprev.gif FSUS|_themes/nature/naup.gif FSUS|_themes/nature/nabull1.gif FSUS|_themes/nature/nabull2.gif FSUS|_themes/nature/nabull3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:21:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|09 Jan 2006 01:44:12 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|09 Jan 2006 01:44:12 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|09 Jan 2006 01:44:12 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|09 Jan 2006 01:44:12 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 01:55:00 -0000
