body {
	margin: 2px;
	padding: 5px;
	background: #1E1EF6;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1E1EF6;
	text-align:left;
}

h4 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}

h1 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}

ul {
	line-height: 5px;
}

ol {
	line-height: 10px;
}

p {
	line-height: 15px;
}

a {
	color: #000000;
	line-height: 15px;
}

a:hover {
	text-decoration: none;
}

/* Menu */
#menu {
	width: 100px;
	height: 22px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	font-family: Sans-Serif black;
/*	font-style: oblique; */
	float: left;
	width: 90px;
	height: 20px;
	padding: 4px 0 0 0px;
	background: #F7F5F5;
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	color: #000000;
	border:1px solid  #643147;
}

#menu .active a {
	background:#C1B5B5;
	border:2px solid  #643147;
}

#menu a:hover {
	background: #C1B5B5;
	border:2px solid  #643147;
}
