vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|22 Jan 2006 15:58:57 -0000
vti_timecreated:TR|22 Jan 2006 15:58:57 -0000
vti_cacheddtm:TX|22 Jan 2006 15:58:57 -0000
vti_filesize:IR|1266
vti_cachedlinkinfo:VX|S|tabbanr.gif S|tabrule.gif S|tabbul1.gif S|tabbul2.gif S|tabbul3.gif S|tabhsel.gif S|tabhbtn.gif S|tabvsel.gif S|tabvbtn.gif S|tabhom.gif S|tabup.gif S|tabbck.gif S|tabnxt.gif S|tabbul1.gif S|tabbul2.gif S|tabbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/tabs/tabbanr.gif FSUS|_themes/tabs/tabrule.gif FSUS|_themes/tabs/tabbul1.gif FSUS|_themes/tabs/tabbul2.gif FSUS|_themes/tabs/tabbul3.gif FSUS|_themes/tabs/tabhsel.gif FSUS|_themes/tabs/tabhbtn.gif FSUS|_themes/tabs/tabvsel.gif FSUS|_themes/tabs/tabvbtn.gif FSUS|_themes/tabs/tabhom.gif FSUS|_themes/tabs/tabup.gif FSUS|_themes/tabs/tabbck.gif FSUS|_themes/tabs/tabnxt.gif FSUS|_themes/tabs/tabbul1.gif FSUS|_themes/tabs/tabbul2.gif FSUS|_themes/tabs/tabbul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_fkhoury.us\:21/webmin/vacation:TX|22 Jan 2006 15:58:57 -0000
vti_syncofs_fkhoury.us\:21/webmin/vacation:TW|22 Jan 2006 16:36:00 -0000
vti_syncofs_fkhoury.us\:21/web/vacation:TW|11 Mar 2006 02:44:00 -0000
vti_syncwith_fkhoury.us\:21/web/vacation:TX|22 Jan 2006 15:58:57 -0000
