vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|22 Jan 2006 15:58:57 -0000
vti_timecreated:TR|22 Jan 2006 15:58:57 -0000
vti_cacheddtm:TX|22 Jan 2006 15:58:57 -0000
vti_filesize:IR|1538
vti_cachedlinkinfo:VX|S|atabbanr.gif S|atabrule.gif S|atabbul1.gif S|atabbul2.gif S|atabbul3.gif S|atabhsel.gif S|atabhbtn.gif S|atabhhov.gif S|atabvsel.gif S|atabvbtn.gif S|atabvhov.gif S|atabhom.gif S|atabhomh.gif S|atabup.gif S|atabuph.gif S|atabbck.gif S|atabbckh.gif S|atabnxt.gif S|atabnxth.gif S|atabbul1.gif S|atabbul2.gif S|atabbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/tabs/atabbanr.gif FSUS|_themes/tabs/atabrule.gif FSUS|_themes/tabs/atabbul1.gif FSUS|_themes/tabs/atabbul2.gif FSUS|_themes/tabs/atabbul3.gif FSUS|_themes/tabs/atabhsel.gif FSUS|_themes/tabs/atabhbtn.gif FSUS|_themes/tabs/atabhhov.gif FSUS|_themes/tabs/atabvsel.gif FSUS|_themes/tabs/atabvbtn.gif FSUS|_themes/tabs/atabvhov.gif FSUS|_themes/tabs/atabhom.gif FSUS|_themes/tabs/atabhomh.gif FSUS|_themes/tabs/atabup.gif FSUS|_themes/tabs/atabuph.gif FSUS|_themes/tabs/atabbck.gif FSUS|_themes/tabs/atabbckh.gif FSUS|_themes/tabs/atabnxt.gif FSUS|_themes/tabs/atabnxth.gif FSUS|_themes/tabs/atabbul1.gif FSUS|_themes/tabs/atabbul2.gif FSUS|_themes/tabs/atabbul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_fkhoury.us\:21/webmin/vacation:TX|22 Jan 2006 15:58:57 -0000
vti_syncofs_fkhoury.us\:21/webmin/vacation:TW|22 Jan 2006 16:36:00 -0000
vti_syncofs_fkhoury.us\:21/web/vacation:TW|11 Mar 2006 02:44:00 -0000
vti_syncwith_fkhoury.us\:21/web/vacation:TX|22 Jan 2006 15:58:57 -0000
