vti_encoding:SR|utf8-nl
vti_author:SR|FREDO\\Administrator
vti_modifiedby:SR|FREDO\\Administrator
vti_timelastmodified:TR|12 Jan 2007 01:03:25 -0000
vti_timecreated:TR|12 Jan 2007 01:03:25 -0000
vti_cacheddtm:TX|12 Jan 2007 01:03:25 -0000
vti_filesize:IR|27264
vti_cachedlinkinfo:VX|S|inmglob.gif S|inmtextb.gif S|inmbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/inmotion/inmglob.gif FSUS|_themes/inmotion/inmtextb.gif FSUS|_themes/inmotion/inmbul2d.gif FSUS|_themes/inmotion/toolgrad.gif FSUS|_themes/inmotion/dot.gif FSUS|_themes/inmotion/toolgrad.gif FSUS|_themes/inmotion/theme.css FSUS|_themes/inmotion/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/inmotion/theme.css
