vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|09 Jan 2006 00:24:42 -0000
vti_timecreated:TR|09 Jan 2006 00:24:42 -0000
vti_cacheddtm:TX|09 Jan 2006 00:24:42 -0000
vti_filesize:IR|29838
vti_cachedlinkinfo:VX|S|poeglob.gif S|poetextb.gif S|poebul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/poetic/poeglob.gif FSUS|_themes/poetic/poetextb.gif FSUS|_themes/poetic/poebul2d.gif FSUS|_themes/poetic/toolgrad.gif FSUS|_themes/poetic/dot.gif FSUS|_themes/poetic/toolgrad.gif FSUS|_themes/poetic/theme.css FSUS|_themes/poetic/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/poetic/theme.css
vti_syncwith_www.fkhoury.us\:21webmin/sport:TX|09 Jan 2006 00:24:42 -0000
vti_syncofs_www.fkhoury.us\:21webmin/sport:TW|10 Jan 2006 00:28:00 -0000
vti_syncofs_fkhoury.us\:21/web/sport:TW|11 Mar 2006 02:52:00 -0000
vti_syncwith_fkhoury.us\:21/web/sport:TX|09 Jan 2006 00:24:42 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/sport:TX|09 Jan 2006 00:24:42 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/sport:TW|11 Sep 2005 03:58:00 -0000
