vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|Fredo-PC\\Fredo
vti_timelastmodified:TR|09 Jan 2006 00:39:18 -0000
vti_timecreated:TR|09 Jan 2006 00:39:17 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|
vti_syncofs_www.fkhoury.us\:21webmin/texans:TW|10 Jan 2006 00:30:00 -0000
vti_syncwith_www.fkhoury.us\:21webmin/texans:TX|09 Jan 2006 00:39:17 -0000
vti_syncofs_fkhoury.us\:21/web/sport:TW|11 Mar 2006 02:52:00 -0000
vti_syncwith_fkhoury.us\:21/web/sport:TX|09 Jan 2006 00:39:17 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/sport:TX|09 Jan 2006 00:39:17 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/sport:TW|11 Sep 2005 03:58:00 -0000
vti_cacheddtm:TX|09 Jan 2006 00:39:18 -0000
vti_filesize:IR|695
