vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|09 Jan 2006 00:26:32 -0000
vti_timecreated:TR|09 Jan 2006 00:26:32 -0000
vti_cacheddtm:TX|09 Jan 2006 00:26:32 -0000
vti_filesize:IR|1266
vti_cachedlinkinfo:VX|S|piebanr.gif S|pierule.gif S|piebul1.gif S|piebul2.gif S|piebul3.gif S|piehsel.gif S|piehbtn.gif S|pievsel.gif S|pievbtn.gif S|piehom.gif S|pieup.gif S|piebck.gif S|pienxt.gif S|piebul1.gif S|piebul2.gif S|piebul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/piechart/piebanr.gif FSUS|_themes/piechart/pierule.gif FSUS|_themes/piechart/piebul1.gif FSUS|_themes/piechart/piebul2.gif FSUS|_themes/piechart/piebul3.gif FSUS|_themes/piechart/piehsel.gif FSUS|_themes/piechart/piehbtn.gif FSUS|_themes/piechart/pievsel.gif FSUS|_themes/piechart/pievbtn.gif FSUS|_themes/piechart/piehom.gif FSUS|_themes/piechart/pieup.gif FSUS|_themes/piechart/piebck.gif FSUS|_themes/piechart/pienxt.gif FSUS|_themes/piechart/piebul1.gif FSUS|_themes/piechart/piebul2.gif FSUS|_themes/piechart/piebul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_www.fkhoury.us\:21webmin/sport:TX|09 Jan 2006 00:26:32 -0000
vti_syncofs_www.fkhoury.us\:21webmin/sport:TW|10 Jan 2006 00:28:00 -0000
vti_syncofs_fkhoury.us\:21/web/sport:TW|11 Mar 2006 02:52:00 -0000
vti_syncwith_fkhoury.us\:21/web/sport:TX|09 Jan 2006 00:26:32 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/sport:TX|09 Jan 2006 00:26:32 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/sport:TW|11 Sep 2005 03:58:00 -0000
