3.0.0.507
1003
1000,index.htm,0,Vacation,0,1137945529,1
vti_globalpage:BW|true
1001,sid:1001,0,vacation,0,1137945607,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1002,file:///C:/Documents and Settings/Administrator/My Documents/My Web Sites/HomeSite/index.html,1,Back to FredO,1001,1137945607,0