a:link{
color:#993333;
}
a:visited{
color:#333399;
}
a:active{
color:#006633;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#BBBBBB;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#CC9966;
table-border-color-dark:#996600;
border-color:#996600;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#336633;
}
TD{
border-color:#336633;
}
