vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Jan 2009 14:03:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|2010/Daytona300-10.html 2010/Daytona500-10.html
vti_author:SR|Fred-PC\\Fred
vti_modifiedby:SR|Fred-PC\\Fred
vti_timecreated:TR|14 Jan 2009 14:03:22 -0000
vti_cacheddtm:TX|14 Jan 2009 14:03:22 -0000
vti_filesize:IR|5878
vti_cachedlinkinfo:VX|S|img/loading-bar-black.gif S|img/loading-bar-black.gif S|img/fleche1.png S|img/fleche1.gif S|img/fleche2.png S|img/fleche2.gif S|img/open.png S|img/open.gif
vti_cachedsvcrellinks:VX|FSUS|2010/css/img/loading-bar-black.gif FSUS|2010/css/img/loading-bar-black.gif FSUS|2010/css/img/fleche1.png FSUS|2010/css/img/fleche1.gif FSUS|2010/css/img/fleche2.png FSUS|2010/css/img/fleche2.gif FSUS|2010/css/img/open.png FSUS|2010/css/img/open.gif
