vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Oct 2009 23:49:16 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|AirForce/home.html
vti_author:SR|Fred-PC\\Fred
vti_modifiedby:SR|Fred-PC\\Fred
vti_timecreated:TR|17 Mar 2009 23:19:00 -0000
vti_nexttolasttimemodified:TW|02 Oct 2009 23:48:16 -0000
vti_cacheddtm:TX|02 Oct 2009 23:49:16 -0000
vti_filesize:IR|2300
vti_cachedlinkinfo:VX|S|ajax_loader.gif S|play.gif S|stop.gif S|resize.gif S|middle.gif S|middle-slider.gif S|left-slider.gif S|left.gif S|right.gif S|open_image.png S|loader.gif S|open_link.png S|tooltip.png
vti_cachedsvcrellinks:VX|FSUS|2009/scripts/ajax_loader.gif FSUS|2009/scripts/play.gif FSUS|2009/scripts/stop.gif FSUS|2009/scripts/resize.gif FSUS|2009/scripts/middle.gif FSUS|2009/scripts/middle-slider.gif FSUS|2009/scripts/left-slider.gif FSUS|2009/scripts/left.gif FSUS|2009/scripts/right.gif FSUS|2009/scripts/open_image.png FSUS|2009/scripts/loader.gif FSUS|2009/scripts/open_link.png FSUS|2009/scripts/tooltip.png
