vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|14 Mar 2006 00:16:43 -0000
vti_timecreated:TR|14 Mar 2006 00:16:43 -0000
vti_cacheddtm:TX|14 Mar 2006 00:16:43 -0000
vti_filesize:IR|27291
vti_cachedlinkinfo:VX|S|mshglob.gif S|mshtextb.jpg S|mshbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/mdshapes/mshglob.gif FSUS|_themes/mdshapes/mshtextb.jpg FSUS|_themes/mdshapes/mshbul2d.gif FSUS|_themes/mdshapes/toolgrad.gif FSUS|_themes/mdshapes/dot.gif FSUS|_themes/mdshapes/toolgrad.gif FSUS|_themes/mdshapes/theme.css FSUS|_themes/mdshapes/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/mdshapes/theme.css
vti_syncwith_fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:16:43 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|14 Mar 2006 00:44:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:16:43 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|14 Mar 2006 00:16:43 -0000
