vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|14 Mar 2006 00:32:51 -0000
vti_timecreated:TR|14 Mar 2006 00:32:51 -0000
vti_cacheddtm:TX|14 Mar 2006 00:32:51 -0000
vti_filesize:IR|1799
vti_cachedlinkinfo:VX|S|banner_sky.gif S|rule_sky.gif S|bull1_sky.gif S|bull2_sky.gif S|bull3_sky.gif S|nav_hor_sky.gif S|nav_hor_over_sky.gif S|nav_hor_down_sky.gif S|nav_vert_sky.gif S|nav_vert_over_sky.gif S|nav_vert_down_sky.gif S|nav_home_sky.gif S|nav_home_over_sky.gif S|nav_up_sky.gif S|nav_up_over_sky.gif S|nav_prev_sky.gif S|nav_prev_over_sky.gif S|nav_next_sky.gif S|nav_next_over_sky.gif S|nav_next_down_sky.gif S|bull1_sky.gif S|bull2_sky.gif S|bull3_sky.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sky/banner_sky.gif FSUS|_themes/sky/rule_sky.gif FSUS|_themes/sky/bull1_sky.gif FSUS|_themes/sky/bull2_sky.gif FSUS|_themes/sky/bull3_sky.gif FSUS|_themes/sky/nav_hor_sky.gif FSUS|_themes/sky/nav_hor_over_sky.gif FSUS|_themes/sky/nav_hor_down_sky.gif FSUS|_themes/sky/nav_vert_sky.gif FSUS|_themes/sky/nav_vert_over_sky.gif FSUS|_themes/sky/nav_vert_down_sky.gif FSUS|_themes/sky/nav_home_sky.gif FSUS|_themes/sky/nav_home_over_sky.gif FSUS|_themes/sky/nav_up_sky.gif FSUS|_themes/sky/nav_up_over_sky.gif FSUS|_themes/sky/nav_prev_sky.gif FSUS|_themes/sky/nav_prev_over_sky.gif FSUS|_themes/sky/nav_next_sky.gif FSUS|_themes/sky/nav_next_over_sky.gif FSUS|_themes/sky/nav_next_down_sky.gif FSUS|_themes/sky/bull1_sky.gif FSUS|_themes/sky/bull2_sky.gif FSUS|_themes/sky/bull3_sky.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:32:51 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|14 Mar 2006 00:44:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:32:51 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|14 Mar 2006 00:32:51 -0000
