vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|14 Mar 2006 00:32:52 -0000
vti_timecreated:TR|14 Mar 2006 00:32:52 -0000
vti_cacheddtm:TX|14 Mar 2006 00:32:52 -0000
vti_filesize:IR|29490
vti_cachedlinkinfo:VX|S|top_bar_button_sky.gif S|background_sky.gif S|bull2_sky.gif S|toolgrad_sky.gif S|theme.css S|dot_sky.gif S|toolgrad_sky.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sky/top_bar_button_sky.gif FSUS|_themes/sky/background_sky.gif FSUS|_themes/sky/bull2_sky.gif FSUS|_themes/sky/toolgrad_sky.gif FSUS|_themes/sky/theme.css FSUS|_themes/sky/dot_sky.gif FSUS|_themes/sky/toolgrad_sky.gif FSUS|_themes/sky/partgrad.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/sky/theme.css
vti_syncwith_fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:32:52 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|14 Mar 2006 00:44:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:32:52 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|14 Mar 2006 00:32:52 -0000
