.mstheme{
nav-banner-image:url(acasbanr.gif);
separator-image:url(acasrule.gif);
list-image-1:url(acasbul1.gif);
list-image-2:url(acasbul2.gif);
list-image-3:url(acasbul3.gif);
navbutton-horiz-pushed:url(acashsel.gif);
navbutton-horiz-normal:url(acashbtn.gif);
navbutton-horiz-hovered:url(acashhov.gif);
navbutton-vert-pushed:url(acasvsel.gif);
navbutton-vert-normal:url(acasvbtn.gif);
navbutton-vert-hovered:url(acasvhov.gif);
navbutton-home-normal:url(acashom.gif);
navbutton-home-hovered:url(acashomh.gif);
navbutton-up-normal:url(acasup.gif);
navbutton-up-hovered:url(acasuph.gif);
navbutton-prev-normal:url(acasbck.gif);
navbutton-prev-hovered:url(acasbckh.gif);
navbutton-next-normal:url(acasnxt.gif);
navbutton-next-hovered:url(acasnxth.gif);
}
UL{
list-style-image:url(acasbul1.gif);
}
UL UL{
list-style-image:url(acasbul2.gif);
}
UL UL UL{
list-style-image:url(acasbul3.gif);
}
.mstheme-bannertxt{
font-family:Georgia,Times New Roman,Times;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:century gothic,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:century gothic,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:century gothic,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:century gothic,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:century gothic,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:century gothic,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
