.mstheme{
nav-banner-image:url(corbanr.gif);
separator-image:url(corrule.gif);
list-image-1:url(corbul1.gif);
list-image-2:url(corbul2.gif);
list-image-3:url(corbul3.gif);
navbutton-horiz-pushed:url(corhsel.gif);
navbutton-horiz-normal:url(corhbtn.gif);
navbutton-vert-pushed:url(corvsel.gif);
navbutton-vert-normal:url(corvbtn.gif);
navbutton-home-normal:url(corhom.gif);
navbutton-up-normal:url(corup.gif);
navbutton-prev-normal:url(corbck.gif);
navbutton-next-normal:url(cornxt.gif);
}
UL{
list-style-image:url(corbul1.gif);
}
UL UL{
list-style-image:url(corbul2.gif);
}
UL UL UL{
list-style-image:url(corbul3.gif);
}
.mstheme-bannertxt{
font-family:"Century Gothic",Arial,Helvetica;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#333366;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#333366;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
