a:link{
color:#0066FF;
}
a:visited{
color:#9999CC;
}
a:active{
color:#CC3300;
}
body{
color:#FFFFFF;
background-color:#333366;
}
h1{
color:#FFFFFF;
}
h2,marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#6699CC;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#999999;
color:#000000;
}
TABLE{
table-border-color-light:#6699CC;
table-border-color-dark:#6699CC;
border-color:#6699CC;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#6699CC;
}
TD{
border-color:#6699CC;
}
