vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Apr 2008 22:17:02 -0000
vti_extenderversion:SR|12.0.0.6211
vti_author:SR|Fredo-PC\\Fredo
vti_modifiedby:SR|Fredo-PC\\Fredo
vti_timecreated:TR|02 Apr 2008 22:17:02 -0000
vti_cacheddtm:TX|02 Apr 2008 22:17:02 -0000
vti_filesize:IR|2362
vti_cachedlinkinfo:VX|S|skin/ajax_loader.gif S|skin/play.gif S|skin/stop.gif S|skin/resize.gif S|skin/middle.gif S|skin/middle-slider.gif S|skin/left-slider.gif S|skin/left.gif S|skin/right.gif S|skin/open_image.png S|skin/loader.gif S|skin/open_link.png S|skin/tooltip.png
vti_cachedsvcrellinks:VX|FSUS|GC/skin/ajax_loader.gif FSUS|GC/skin/play.gif FSUS|GC/skin/stop.gif FSUS|GC/skin/resize.gif FSUS|GC/skin/middle.gif FSUS|GC/skin/middle-slider.gif FSUS|GC/skin/left-slider.gif FSUS|GC/skin/left.gif FSUS|GC/skin/right.gif FSUS|GC/skin/open_image.png FSUS|GC/skin/loader.gif FSUS|GC/skin/open_link.png FSUS|GC/skin/tooltip.png
vti_backlinkinfo:VX|
