vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Sep 2008 01:28:34 -0000
vti_extenderversion:SR|12.0.0.6211
vti_author:SR|Fredo-PC\\Fredo
vti_modifiedby:SR|Fredo-PC\\Fredo
vti_timecreated:TR|19 Sep 2008 01:28:34 -0000
vti_cacheddtm:TX|19 Sep 2008 01:28:34 -0000
vti_filesize:IR|2468
vti_backlinkinfo:VX|Ike/Misc/img_3947.html Ike/Misc/img_3948.html Ike/Misc/img_3949.html Ike/Misc/img_3961.html Ike/Misc/img_3962.html Ike/Misc/img_3963.html Ike/Misc/img_3964.html Ike/Misc/img_3943.html Ike/Misc/img_3944.html Ike/Misc/img_3945.html Ike/Misc/img_3946.html Ike/Misc/img_3960.html Ike/Misc/img_3979.html Ike/Misc/index.html Ike/Misc/img_3978.html Ike/Misc/img_3958.html Ike/Misc/img_3959.html Ike/Misc/img_3972.html Ike/Misc/img_3973.html Ike/Misc/img_3954.html Ike/Misc/img_3955.html Ike/Misc/img_3956.html Ike/Misc/img_3957.html Ike/Misc/img_3970.html Ike/Misc/img_3971.html Ike/Misc/img_3951.html Ike/Misc/img_3952.html Ike/Misc/img_3953.html Ike/Misc/img_3950.html Ike/Misc/img_3968.html Ike/Misc/img_3969.html Ike/Misc/img_3982.html Ike/Misc/img_3965.html Ike/Misc/img_3966.html Ike/Misc/img_3967.html Ike/Misc/img_3980.html Ike/Misc/img_3981.html
