vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|09 Jan 2006 01:44:55 -0000
vti_timecreated:TR|09 Jan 2006 01:44:55 -0000
vti_cacheddtm:TX|09 Jan 2006 01:44:55 -0000
vti_filesize:IR|1263
vti_cachedlinkinfo:VX|S|mshbannd.gif S|mshhorsd.gif S|mshbul1d.gif S|mshbul2d.gif S|mshbul3d.gif S|mshhbusd.gif S|mshhbudd.gif S|mshvbusd.gif S|mshvbudd.gif S|mshhombd.gif S|mshupbd.gif S|mshprebd.gif S|mshnexbd.gif S|mshbul1d.gif S|mshbul2d.gif S|mshbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/mdshapes/mshbannd.gif FSUS|_themes/mdshapes/mshhorsd.gif FSUS|_themes/mdshapes/mshbul1d.gif FSUS|_themes/mdshapes/mshbul2d.gif FSUS|_themes/mdshapes/mshbul3d.gif FSUS|_themes/mdshapes/mshhbusd.gif FSUS|_themes/mdshapes/mshhbudd.gif FSUS|_themes/mdshapes/mshvbusd.gif FSUS|_themes/mdshapes/mshvbudd.gif FSUS|_themes/mdshapes/mshhombd.gif FSUS|_themes/mdshapes/mshupbd.gif FSUS|_themes/mdshapes/mshprebd.gif FSUS|_themes/mdshapes/mshnexbd.gif FSUS|_themes/mdshapes/mshbul1d.gif FSUS|_themes/mdshapes/mshbul2d.gif FSUS|_themes/mdshapes/mshbul3d.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:21:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|09 Jan 2006 01:44:55 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|09 Jan 2006 01:44:55 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|09 Jan 2006 01:44:55 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|09 Jan 2006 01:44:55 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 01:55:00 -0000
