vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|15 Mar 2006 00:45:59 -0000
vti_timecreated:TR|15 Mar 2006 00:45:59 -0000
vti_cacheddtm:TX|15 Mar 2006 00:45:59 -0000
vti_filesize:IR|1298
vti_cachedlinkinfo:VX|S|levbanr.gif S|levrule.gif S|levbul1.gif S|levbul2.gif S|levbul3.gif S|levhsel.gif S|levhbtn.gif S|levvsel.gif S|levvbtn.gif S|levhom.gif S|levup.gif S|levbck.gif S|levnxt.gif S|levbul1.gif S|levbul2.gif S|levbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/level/levbanr.gif FSUS|_themes/level/levrule.gif FSUS|_themes/level/levbul1.gif FSUS|_themes/level/levbul2.gif FSUS|_themes/level/levbul3.gif FSUS|_themes/level/levhsel.gif FSUS|_themes/level/levhbtn.gif FSUS|_themes/level/levvsel.gif FSUS|_themes/level/levvbtn.gif FSUS|_themes/level/levhom.gif FSUS|_themes/level/levup.gif FSUS|_themes/level/levbck.gif FSUS|_themes/level/levnxt.gif FSUS|_themes/level/levbul1.gif FSUS|_themes/level/levbul2.gif FSUS|_themes/level/levbul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncwith_fkhoury.us\:21/web/mau:TX|15 Mar 2006 00:45:59 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|15 Mar 2006 00:51:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|15 Mar 2006 00:45:59 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|15 Mar 2006 00:45:59 -0000
