vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|15 Mar 2006 00:45:59 -0000
vti_timecreated:TR|15 Mar 2006 00:45:59 -0000
vti_cacheddtm:TX|15 Mar 2006 00:45:59 -0000
vti_filesize:IR|27982
vti_cachedlinkinfo:VX|S|levglobl.gif S|levbkg2.gif S|levbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/level/levglobl.gif FSUS|_themes/level/levbkg2.gif FSUS|_themes/level/levbul2.gif FSUS|_themes/level/toolgrad.gif FSUS|_themes/level/dot.gif FSUS|_themes/level/toolgrad.gif FSUS|_themes/level/theme.css FSUS|_themes/level/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/level/theme.css
vti_syncwith_fkhoury.us\:21/web/mau:TX|15 Mar 2006 00:45:59 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|15 Mar 2006 00:51:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|15 Mar 2006 00:45:59 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|15 Mar 2006 00:45:59 -0000
