a:link{
color:#330099;
}
a:visited{
color:#999999;
}
a:active{
color:#660033;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#CCCC99;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#CCCC99;
table-border-color-dark:#330033;
border-color:#330033;
color:transparent;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#000000;
}
TD{
border-color:#000000;
}
