vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY-W5ST28Y9\\Administrator
vti_modifiedby:SR|KHOURY-W5ST28Y9\\Administrator
vti_timelastmodified:TR|30 Jul 2005 20:33:00 -0000
vti_timecreated:TR|30 Jul 2005 20:33:00 -0000
vti_cacheddtm:TX|30 Jul 2005 20:33:00 -0000
vti_filesize:IR|1394
vti_cachedlinkinfo:VX|S|btzhsepd.gif S|btzbul1d.gif S|btzbul2d.gif S|btzbul3d.gif S|btzbannd.gif S|btznvhnd.gif S|btznvhsd.gif S|btznvvnd.gif S|btznvvsd.gif S|btzhomed.gif S|btznextd.gif S|btzprevd.gif S|btzupbtd.gif S|btzbul1d.gif S|btzbul2d.gif S|btzbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blitz/btzhsepd.gif FSUS|_themes/blitz/btzbul1d.gif FSUS|_themes/blitz/btzbul2d.gif FSUS|_themes/blitz/btzbul3d.gif FSUS|_themes/blitz/btzbannd.gif FSUS|_themes/blitz/btznvhnd.gif FSUS|_themes/blitz/btznvhsd.gif FSUS|_themes/blitz/btznvvnd.gif FSUS|_themes/blitz/btznvvsd.gif FSUS|_themes/blitz/btzhomed.gif FSUS|_themes/blitz/btznextd.gif FSUS|_themes/blitz/btzprevd.gif FSUS|_themes/blitz/btzupbtd.gif FSUS|_themes/blitz/btzbul1d.gif FSUS|_themes/blitz/btzbul2d.gif FSUS|_themes/blitz/btzbul3d.gif
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|
vti_syncofs_ftp-www.earthlink.net\:21:TW|31 Jul 2004 02:16:00 -0000
vti_syncwith_ftp-www.earthlink.net\:21:TX|30 Jul 2005 20:33:00 -0000
vti_syncwith_www.fkhoury.us\:21/fred:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_www.fkhoury.us\:21/fred:TW|03 Nov 2004 08:55:00 -0000
vti_syncwith_fkhoury.us\:21/webmin/mark:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_fkhoury.us\:21/webmin/mark:TW|06 Jan 2006 00:58:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mark:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mark:TW|06 Jan 2006 02:20:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:23:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|30 Jul 2005 20:33:00 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 01:57:00 -0000
vti_syncwith_fkhoury.us\:21/web/mark:TX|30 Jul 2005 20:33:00 -0000
vti_syncofs_fkhoury.us\:21/web/mark:TW|11 Mar 2006 02:53:00 -0000
