a:link{
color:#669999;
}
a:visited{
color:#3399CC;
}
a:active{
color:#999999;
}
body{
color:#003333;
background-color:#FFFFFF;
}
h1{
color:#003333;
}
h2,marquee{
color:#003333;
}
h3{
color:#003333;
}
h4{
color:#003333;
}
h5{
color:#003333;
}
h6{
color:#003333;
}
LABEL,.MSTHEME-LABEL{
color:#003333;
}
FIELDSET{
border-color:#006666;
color:#003333;
}
LEGEND{
color:#003333;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#669999;
table-border-color-dark:#336699;
border-color:#336699;
color:transparent;
}
CAPTION{
color:#003333;
}
TH{
color:#003333;
}
HR{
color:#006666;
}
TD{
border-color:#006666;
}
