.mstheme{
nav-banner-image:url(spiband.gif);
separator-image:url(spiruled.gif);
list-image-1:url(spibul1d.gif);
list-image-2:url(spibul2d.gif);
list-image-3:url(spibul3d.gif);
navbutton-horiz-pushed:url(spinavhs.gif);
navbutton-horiz-normal:url(spinavhd.gif);
navbutton-vert-pushed:url(spinavvs.gif);
navbutton-vert-normal:url(spinavvd.gif);
navbutton-home-normal:url(spihomd.gif);
navbutton-up-normal:url(spiupd.gif);
navbutton-prev-normal:url(spipred.gif);
navbutton-next-normal:url(spinxtd.gif);
}
UL{
list-style-image:url(spibul1d.gif);
}
UL UL{
list-style-image:url(spibul2d.gif);
}
UL UL UL{
list-style-image:url(spibul3d.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#003333;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#003333;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#003333;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#003333;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#003333;
}
