.mstheme{
nav-banner-image:url(spibana.gif);
separator-image:url(spirulea.gif);
list-image-1:url(spibul1a.gif);
list-image-2:url(spibul2a.gif);
list-image-3:url(spibul3a.gif);
navbutton-horiz-pushed:url(spinavhe.gif);
navbutton-horiz-normal:url(spinavha.gif);
navbutton-horiz-hovered:url(spinavhh.gif);
navbutton-vert-pushed:url(spinavve.gif);
navbutton-vert-normal:url(spinavva.gif);
navbutton-vert-hovered:url(spinavvh.gif);
navbutton-home-normal:url(spihoma.gif);
navbutton-home-hovered:url(spihomh.gif);
navbutton-up-normal:url(spiupa.gif);
navbutton-up-hovered:url(spiuph.gif);
navbutton-prev-normal:url(spiprea.gif);
navbutton-prev-hovered:url(spipreh.gif);
navbutton-next-normal:url(spinxta.gif);
navbutton-next-hovered:url(spinxth.gif);
}
UL{
list-style-image:url(spibul1a.gif);
}
UL UL{
list-style-image:url(spibul2a.gif);
}
UL UL UL{
list-style-image:url(spibul3a.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#FFFFCC;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#336666;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#336666;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#FFFFFF;
}
