.mstheme{
nav-banner-image:url(acorbanr.gif);
separator-image:url(acorrule.gif);
list-image-1:url(acorbul1.gif);
list-image-2:url(acorbul2.gif);
list-image-3:url(acorbul3.gif);
navbutton-horiz-pushed:url(acorhsel.gif);
navbutton-horiz-normal:url(acorhbtn.gif);
navbutton-horiz-hovered:url(acorhhov.gif);
navbutton-vert-pushed:url(acorvsel.gif);
navbutton-vert-normal:url(acorvbtn.gif);
navbutton-vert-hovered:url(acorvhov.gif);
navbutton-home-normal:url(acorhom.gif);
navbutton-home-hovered:url(acorhomh.gif);
navbutton-up-normal:url(acorup.gif);
navbutton-up-hovered:url(acoruph.gif);
navbutton-prev-normal:url(acorbck.gif);
navbutton-prev-hovered:url(acorbckh.gif);
navbutton-next-normal:url(acornxt.gif);
navbutton-next-hovered:url(acornxth.gif);
}
UL{
list-style-image:url(acorbul1.gif);
}
UL UL{
list-style-image:url(acorbul2.gif);
}
UL UL UL{
list-style-image:url(acorbul3.gif);
}
.mstheme-bannertxt{
font-family:"Century Gothic",Arial,Helvetica;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
