a:link{
color:#006666;
}
a:visited{
color:#669999;
}
a:active{
color:#666633;
}
body{
color:#003366;
background-color:#99CCCC;
}
h1{
color:#003366;
}
h2,marquee{
color:#003366;
}
h3{
color:#003366;
}
h4{
color:#003366;
}
h5{
color:#003366;
}
h6{
color:#003366;
}
LABEL,.MSTHEME-LABEL{
color:#003366;
}
FIELDSET{
border-color:#003366;
color:#000000;
}
LEGEND{
color:#003366;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#669999;
table-border-color-dark:#006666;
border-color:#006666;
color:#003366;
}
CAPTION{
color:#003366;
}
TH{
color:#003366;
}
HR{
color:#003366;
}
TD{
border-color:#003366;
}
