a:link{
color:#996633;
}
a:visited{
color:#999966;
}
a:active{
color:#CC9966;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#999999;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#999999;
color:#000000;
}
TABLE{
table-border-color-light:#CC9933;
table-border-color-dark:#996633;
border-color:#996633;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#996633;
}
TD{
border-color:#996633;
}
