vti_encoding:SR|utf8-nl
vti_author:SR|FREDO\\Administrator
vti_modifiedby:SR|FREDO\\Administrator
vti_timelastmodified:TR|12 Jan 2007 02:23:16 -0000
vti_timecreated:TR|12 Jan 2007 02:23:16 -0000
vti_cacheddtm:TX|12 Jan 2007 02:23:16 -0000
vti_filesize:IR|1260
vti_cachedlinkinfo:VX|S|inmhorsd.gif S|inmbul1d.gif S|inmbul2d.gif S|inmbul3d.gif S|inmbannd.gif S|inmhbudd.gif S|inmhbusd.gif S|inmvbudd.gif S|inmvbusd.gif S|inmhombd.gif S|inmnexbd.gif S|inmprebd.gif S|inmupbd.gif S|inmbul1d.gif S|inmbul2d.gif S|inmbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/inmotion/inmhorsd.gif FSUS|_themes/inmotion/inmbul1d.gif FSUS|_themes/inmotion/inmbul2d.gif FSUS|_themes/inmotion/inmbul3d.gif FSUS|_themes/inmotion/inmbannd.gif FSUS|_themes/inmotion/inmhbudd.gif FSUS|_themes/inmotion/inmhbusd.gif FSUS|_themes/inmotion/inmvbudd.gif FSUS|_themes/inmotion/inmvbusd.gif FSUS|_themes/inmotion/inmhombd.gif FSUS|_themes/inmotion/inmnexbd.gif FSUS|_themes/inmotion/inmprebd.gif FSUS|_themes/inmotion/inmupbd.gif FSUS|_themes/inmotion/inmbul1d.gif FSUS|_themes/inmotion/inmbul2d.gif FSUS|_themes/inmotion/inmbul3d.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
