.mstheme{
nav-banner-image:url(levbanr.gif);
separator-image:url(levrule.gif);
list-image-1:url(levbul1.gif);
list-image-2:url(levbul2.gif);
list-image-3:url(levbul3.gif);
navbutton-horiz-pushed:url(levhsel.gif);
navbutton-horiz-normal:url(levhbtn.gif);
navbutton-vert-pushed:url(levvsel.gif);
navbutton-vert-normal:url(levvbtn.gif);
navbutton-home-normal:url(levhom.gif);
navbutton-up-normal:url(levup.gif);
navbutton-prev-normal:url(levbck.gif);
navbutton-next-normal:url(levnxt.gif);
}
UL{
list-style-image:url(levbul1.gif);
}
UL UL{
list-style-image:url(levbul2.gif);
}
UL UL UL{
list-style-image:url(levbul3.gif);
}
.mstheme-bannertxt{
font-family:times new roman,Times New Roman,Times;
font-size:5;
color:#663300;
}
.mstheme-horiz-navtxt{
font-family:times new roman,times;
font-size:2;
color:#663300;
}
.mstheme-vert-navtxt{
font-family:times new roman,times;
font-size:2;
color:#663300;
}
.mstheme-navtxthome{
font-family:times new roman,times;
font-size:1;
color:#663300;
}
.mstheme-navtxtup{
font-family:times new roman,times;
font-size:1;
color:#663300;
}
.mstheme-navtxtprev{
font-family:times new roman,times;
font-size:1;
color:#663300;
}
.mstheme-navtxtnext{
font-family:times new roman,times;
font-size:1;
color:#663300;
}
