vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY-W5ST28Y9\\Administrator
vti_modifiedby:SR|KHOURY-W5ST28Y9\\Administrator
vti_timelastmodified:TR|30 Jul 2005 13:56:20 -0000
vti_timecreated:TR|30 Jul 2005 13:56:20 -0000
vti_cacheddtm:TX|30 Jul 2005 13:56:20 -0000
vti_filesize:IR|1621
vti_cachedlinkinfo:VX|S|indbanna.gif S|indhorsa.gif S|indbul1a.gif S|indbul2a.gif S|indbul3a.gif S|indhbusa.gif S|indhbuda.gif S|indhbuha.gif S|indvbusa.gif S|indvbuda.gif S|indvbuha.gif S|indhomda.gif S|indhomha.gif S|indupda.gif S|indupha.gif S|indpreda.gif S|indpreha.gif S|indnexda.gif S|indnexha.gif S|indbul1a.gif S|indbul2a.gif S|indbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indbanna.gif FSUS|_themes/indust/indhorsa.gif FSUS|_themes/indust/indbul1a.gif FSUS|_themes/indust/indbul2a.gif FSUS|_themes/indust/indbul3a.gif FSUS|_themes/indust/indhbusa.gif FSUS|_themes/indust/indhbuda.gif FSUS|_themes/indust/indhbuha.gif FSUS|_themes/indust/indvbusa.gif FSUS|_themes/indust/indvbuda.gif FSUS|_themes/indust/indvbuha.gif FSUS|_themes/indust/indhomda.gif FSUS|_themes/indust/indhomha.gif FSUS|_themes/indust/indupda.gif FSUS|_themes/indust/indupha.gif FSUS|_themes/indust/indpreda.gif FSUS|_themes/indust/indpreha.gif FSUS|_themes/indust/indnexda.gif FSUS|_themes/indust/indnexha.gif FSUS|_themes/indust/indbul1a.gif FSUS|_themes/indust/indbul2a.gif FSUS|_themes/indust/indbul3a.gif
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|
vti_syncofs_ftp-www.earthlink.net\:21:TW|31 Jul 2005 02:17:00 -0000
vti_syncwith_ftp-www.earthlink.net\:21:TX|30 Jul 2005 13:56:20 -0000
vti_syncwith_www.fkhoury.us\:21/fred:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_www.fkhoury.us\:21/fred:TW|03 Nov 2004 08:55:00 -0000
vti_syncwith_fkhoury.us\:21/webmin/mark:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_fkhoury.us\:21/webmin/mark:TW|06 Jan 2006 00:58:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mark:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mark:TW|06 Jan 2006 02:20:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:23:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|30 Jul 2005 13:56:20 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 01:57:00 -0000
vti_syncwith_fkhoury.us\:21/web/mark:TX|30 Jul 2005 13:56:20 -0000
vti_syncofs_fkhoury.us\:21/web/mark:TW|11 Mar 2006 02:53:00 -0000
