a:link{
color:#993300;
}
a:visited{
color:#666600;
}
a:active{
color:#CC3300;
}
body{
color:#000000;
background-color:#E0DAB8;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#660033;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#999999;
color:#000000;
}
TABLE{
table-border-color-light:#CC9966;
table-border-color-dark:#660000;
border-color:#660000;
color:transparent;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#660033;
}
TD{
border-color:#660033;
}
