a:link{
color:#996699;
}
a:visited{
color:#006666;
}
a:active{
color:#339999;
}
body{
color:#663366;
background-color:#FFFFCC;
}
h1{
color:#663366;
}
h2,marquee{
color:#663366;
}
h3{
color:#663366;
}
h4{
color:#663366;
}
h5{
color:#663366;
}
h6{
color:#663366;
}
LABEL,.MSTHEME-LABEL{
color:#663366;
}
FIELDSET{
border-color:#BBBBBB;
color:#000000;
}
LEGEND{
color:#663366;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#996699;
table-border-color-dark:#660066;
border-color:#660066;
color:#663366;
}
CAPTION{
color:#663366;
}
TH{
color:#663366;
}
HR{
color:#996666;
}
TD{
border-color:#996666;
}
