vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY\\fkhoury
vti_modifiedby:SR|KHOURY\\fkhoury
vti_timelastmodified:TR|14 Mar 2006 00:02:05 -0000
vti_timecreated:TR|14 Mar 2006 00:02:05 -0000
vti_cacheddtm:TX|14 Mar 2006 00:02:05 -0000
vti_filesize:IR|27264
vti_cachedlinkinfo:VX|S|inmglob.gif S|inmtextb.gif S|inmbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/inmotion/inmglob.gif FSUS|_themes/inmotion/inmtextb.gif FSUS|_themes/inmotion/inmbul2d.gif FSUS|_themes/inmotion/toolgrad.gif FSUS|_themes/inmotion/dot.gif FSUS|_themes/inmotion/toolgrad.gif FSUS|_themes/inmotion/theme.css FSUS|_themes/inmotion/blank.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/inmotion/theme.css
vti_syncwith_fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:02:05 -0000
vti_syncofs_fkhoury.us\:21/web/mau:TW|14 Mar 2006 00:44:00 -0000
vti_syncwith_www.fkhoury.us\:21/web/mau:TX|14 Mar 2006 00:02:05 -0000
vti_syncofs_www.fkhoury.us\:21/web/mau:TW|15 Apr 2005 06:24:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/mau:TW|24 Jun 2005 04:57:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/mau:TX|14 Mar 2006 00:02:05 -0000
