vti_encoding:SR|utf8-nl
vti_author:SR|KHOURY-W5ST28Y9\\Administrator
vti_modifiedby:SR|KHOURY-W5ST28Y9\\Administrator
vti_timelastmodified:TR|17 Jul 2005 20:30:50 -0000
vti_timecreated:TR|17 Jul 2005 20:30:50 -0000
vti_cacheddtm:TX|17 Jul 2005 20:30:50 -0000
vti_filesize:IR|1557
vti_cachedlinkinfo:VX|S|awaybnr.gif S|awayrule.gif S|awaybul1.gif S|awaybul2.gif S|awaybul3.gif S|wayhbp.gif S|wayhbs.gif S|wayhbh.gif S|wayvbp.gif S|wayvbs.gif S|wayvbh.gif S|wayhomes.gif S|wayhomeh.gif S|wayups.gif S|wayuph.gif S|wayprevs.gif S|wayprevh.gif S|waynexts.gif S|waynexth.gif S|awaybul1.gif S|awaybul2.gif S|awaybul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/highway/awaybnr.gif FSUS|_themes/highway/awayrule.gif FSUS|_themes/highway/awaybul1.gif FSUS|_themes/highway/awaybul2.gif FSUS|_themes/highway/awaybul3.gif FSUS|_themes/highway/wayhbp.gif FSUS|_themes/highway/wayhbs.gif FSUS|_themes/highway/wayhbh.gif FSUS|_themes/highway/wayvbp.gif FSUS|_themes/highway/wayvbs.gif FSUS|_themes/highway/wayvbh.gif FSUS|_themes/highway/wayhomes.gif FSUS|_themes/highway/wayhomeh.gif FSUS|_themes/highway/wayups.gif FSUS|_themes/highway/wayuph.gif FSUS|_themes/highway/wayprevs.gif FSUS|_themes/highway/wayprevh.gif FSUS|_themes/highway/waynexts.gif FSUS|_themes/highway/waynexth.gif FSUS|_themes/highway/awaybul1.gif FSUS|_themes/highway/awaybul2.gif FSUS|_themes/highway/awaybul3.gif
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|
vti_syncofs_ftp-www.earthlink.net\:21:TW|31 Jul 2004 02:17:00 -0000
vti_syncwith_ftp-www.earthlink.net\:21:TX|17 Jul 2005 20:30:50 -0000
vti_syncwith_www.fkhoury.us\:21/fred:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_www.fkhoury.us\:21/fred:TW|03 Nov 2004 08:56:00 -0000
vti_syncwith_fkhoury.us\:21/webmin/newman:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_fkhoury.us\:21/webmin/newman:TW|06 Jan 2006 01:11:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin/newman:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_www.fkhoury.us\:21/webmin/newman:TW|06 Jan 2006 02:27:00 -0000
vti_syncofs_www.fkhoury.us\:21/webmin:TW|10 Jan 2006 00:25:00 -0000
vti_syncwith_www.fkhoury.us\:21/webmin:TX|17 Jul 2005 20:30:50 -0000
vti_syncwith_fkhoury.us\:21/webmin:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_fkhoury.us\:21/webmin:TW|22 Jan 2006 16:29:00 -0000
vti_syncwith_192.168.1.3\:21/webmin:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_192.168.1.3\:21/webmin:TW|09 Feb 2006 04:57:00 -0000
vti_syncwith_fkhoury.us\:21/web:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_fkhoury.us\:21/web:TW|11 Mar 2006 02:06:00 -0000
vti_syncwith_fkhoury.us\:21/web/newman:TX|17 Jul 2005 20:30:50 -0000
vti_syncofs_fkhoury.us\:21/web/newman:TW|11 Mar 2006 02:55:00 -0000
